{% extends 'base.html' %}
{% block content %}
<br>
<br>
<p class="card-text display-4" style="font-family: 'Eoe_Zno_B';">{{brand}}</p>


<div class="row">

    {% for tobacco in tobaccos %}

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card card_hover h-100">
        <a href="#" style="height: 100%; display: flex; justify-content:center; align-items:center;"><img class="card-img-top" src="{{tobacco.img.url}}" alt=""></a>
        <div class="card-body"  >
            <h4 class="card-title">
            <a class="stretched-link text-muted" href="{% url 'goorm:detail' tobacco.id %}" >{{tobacco.brand}} {{tobacco.name}}</a>
            </h4>
            <h5>{{tobacco.price}}</h5>
            <p class="card-text"></p>
        </div>
        <div class="card-footer" style="text-align: center;">
            <small class="text-muted"></small>
        </div>
        </div>
    </div> 

    {% endfor %}

</div>

<style>
@font-face { font-family: 'Eoe_Zno_B'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_B.woff') format('woff'); font-weight: normal; font-style: normal; }
</style>



{% endblock %}