{% extends 'base.html' %}
{% block content %}

<h1>댓글을 수정하는 중입니다. </h1>

    <form action="{% url 'goorm:comment_update' comment.id %}" method = "POST">
        {% csrf_token %}

            <img src="{{ request.user.profile_img.url }}" alt="" style="width: 35px; height: 35px; border-radius: 40%;">
            <span style="padding: 5%;">{{request.user.username}}</span>

            <p>Comment <br> <input type="text" name="comment_text" value="{{comment.contents}}" ></p>
            Score <br>
            <input type="radio" name="comment_score" value="1">1
            <input type="radio" name="comment_score" value="2">2
            <input type="radio" name="comment_score" value="3">3
            <input type="radio" name="comment_score" value="4">4
            <input type="radio" name="comment_score" value="5">5
            <br><br>
            
        <hr>
        <div class="update">
            <input class="btn btn-dark" type="submit" style="background-color: #2b457a;" value="저장하기">
        </div>
        <br>
    <form>
        
{% endblock %}