{% extends 'base.html' %}
{% block content %}

  <style>
    input[type=password] {

      background-color: #f6f6f6;

      border: none;

      color: #0d0d0d;

      padding: 15px 32px;

      text-align: center;

      text-decoration: none;

      display: inline-block;

      font-size: 16px;

      margin: 5px;

      width: 85%;

      border: 2px solid #f6f6f6;

      -webkit-transition: all 0.5s ease-in-out;

      -moz-transition: all 0.5s ease-in-out;

      -ms-transition: all 0.5s ease-in-out;

      -o-transition: all 0.5s ease-in-out;

      transition: all 0.5s ease-in-out;

      -webkit-border-radius: 5px 5px 5px 5px;

      border-radius: 5px 5px 5px 5px;

    }

    input[type=password]:focus {

      background-color: #fff;

      border-bottom: 2px solid #5fbae9;

    }

    input[type=password]:placeholder {

      color: #cccccc;

    }

    input[type=password] {

      background-color: #f6f6f6;

      border: none;

      color: #0d0d0d;

      padding: 15px 32px;

      text-align: center;

      text-decoration: none;

      display: inline-block;

      font-size: 16px;

      margin: 5px;

      width: 50%;

      border: 2px solid #f6f6f6;

      -webkit-transition: all 0.5s ease-in-out;

      -moz-transition: all 0.5s ease-in-out;

      -ms-transition: all 0.5s ease-in-out;

      -o-transition: all 0.5s ease-in-out;

      transition: all 0.5s ease-in-out;

      -webkit-border-radius: 5px 5px 5px 5px;

      border-radius: 5px 5px 5px 5px;

    }

    input[type=password]:focus {

      background-color: #fff;

      border-bottom: 2px solid #5fbae9;

    }

    input[type=password]:placeholder {

      color: #cccccc;

    }

    /* 여기부터는 아이디 */

    input[type=text] {

      background-color: #f6f6f6;

      border: none;

      color: #0d0d0d;

      padding: 15px 32px;

      text-align: center;

      text-decoration: none;

      display: inline-block;

      font-size: 16px;

      margin: 5px;

      width: 85%;

      border: 2px solid #f6f6f6;

      -webkit-transition: all 0.5s ease-in-out;

      -moz-transition: all 0.5s ease-in-out;

      -ms-transition: all 0.5s ease-in-out;

      -o-transition: all 0.5s ease-in-out;

      transition: all 0.5s ease-in-out;

      -webkit-border-radius: 5px 5px 5px 5px;

      border-radius: 5px 5px 5px 5px;

    }

    input[type=text]:focus {

      background-color: #fff;

      border-bottom: 2px solid #5fbae9;

    }

    input[type=text]:placeholder {

      color: #cccccc;

    }

    input[type=text] {

      background-color: #f6f6f6;

      border: none;

      color: #0d0d0d;

      padding: 15px 32px;

      text-align: center;

      text-decoration: none;

      display: inline-block;

      font-size: 16px;

      margin: 5px;

      width: 50%;

      border: 2px solid #f6f6f6;

      -webkit-transition: all 0.5s ease-in-out;

      -moz-transition: all 0.5s ease-in-out;

      -ms-transition: all 0.5s ease-in-out;

      -o-transition: all 0.5s ease-in-out;

      transition: all 0.5s ease-in-out;

      -webkit-border-radius: 5px 5px 5px 5px;

      border-radius: 5px 5px 5px 5px;

    }

    input[type=text]:focus {

      background-color: #fff;

      border-bottom: 2px solid #5fbae9;

    }

    input[type=text]:placeholder {

      color: #cccccc;

    }
  </style>

  <br>
  <br>
  <!-- header -->
  <div class="jumbotron text-center">
    <h1>GOORM GWAJA<br>PROJECT</h1>
  </div>
  <div style="text-align: center;">
    <h2> <strong>세계최강 담배커뮤니티 구름과자에 오신걸 환영합니다</strong></h2>
    <br>
    <h1 class="text-muted">LOGIN</h1>
</div>

  <!-- 로그인 해놓기  -->
  <div style="text-align: center;">
    <form type="login" method="POST" action="{% url 'accounts:login'%}">
      {% csrf_token %}
      <input type="text" name="username" required="required" placeholder="Your ID"><br>

      <input type="password" name="password" required="required" placeholder="Your password"><br>
      <br>
      <input type="submit" class="btn btn-info" style="width: 20%;" value="Login"><br>
      <br>
      <a href="{% url 'accounts:signup' %}" class="btn btn-Dark" style="width: 20%;">회원가입</a>

    </form>
  </div>


<h1 style="text-align: center;">{{error}}</h1 >

{% endblock %}