{% extends 'base.html' %}
{% block content %}


<div class="container" style="text-align: center;">
    <p><img style="width: 13.5rem; border-radius: 25%;" src="{{ mypage_info.profile_img.url }}"></p>
    <p>ID : {{ mypage_info.username }}</p>
    <p>성별 : {{mypage_info.sex }}</p>
    <p>흡연시작년도 : {{mypage_info.start_year}}</p>

    <p><a class="p-10 text-muted" href="{% url 'accounts:edit' mypage_info.username %}">회원정보 수정하기</a>
    </p>
</div>
<div class="p-2 text-muted">
    구입한 담배 리스트 :
    {% for dam in log%}
    {{dam.product}} {{dam.date}}
    {% endfor %}
    당신은 지금까지 담배에 <strong>{{money}}</strong>원을 쓰셨습니다. 
</div>


{% endblock %}