<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Goorm Project</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static './vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <style>
    @font-face {
      font-family: 'BMHANNAAir';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    body{
      font-family: 'BMHANNAAir';
    }
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Goorm Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <!--담배기능 리스트 작업-->

          <li class="nav-item active">
            <a class="nav-link " href="{% url 'goorm:goormlist' %}">Goorm List
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if request.user.username == 'admin' %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'goorm:new' %}">Add Goorm
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% endif %}

          <!--담배기능 리스트 작업-->


          <!-- 네비바 검색기능 -->


          <!--로그인 기능 네브바-->
           
          {% if user.is_anonymous %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:login' %}">로그인
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
          </li>

          {% elif user.is_authenticated  %}

          <li class="nav-item">
            <form id="logout" method="POST" action="{% url 'accounts:logout' %}" class="nav-link">
              {% csrf_token %}
              <input type="submit" class="btn btn-secondary" value="Logout">
            </form>
          </li>

          <a class="nav-link" href="{% url 'accounts:mypage' user.username %}">
            <div style="text-align: center;">
              <img src="{{ request.user.profile_img.url }}" alt=""
                style="width: 35px; height: 35px; border-radius: 40%; vertical-align: top;">
            </div>
          </a>

          {% endif %}

          <!-- 네비바 검색기능 -->
          <form class="form-inline" action="{% url 'goorm:search'%}" method="get">
            <div class="input-group">
              <select name="fd_name" id="" class="form-control">
                <option value="brand">brand</option>
                <option value="name">name</option>
              </select>
              <br>
              <input type="text" class="form-control" name='q'>
              <button class="btn btn-secondary" type="submit">Search</button>
            </div>
          </form>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Project Goorm 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static './vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static './vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      // executes when HTML-Document is loaded and DOM is ready
      // console.log("document is ready");

      $(".card_hover").hover(function () {
        $(this).addClass('shadow').css('cursor', 'pointer');
      }, function () {
        $(this).removeClass('shadow');
      });
    });
  </script>

</body>

</html>

<style>
  body {
    padding-top: 80px;
    box-sizing: border-box;
  }

  .card:hover {
    text-decoration: none;
  }
</style>